/*-----Fuente-----*/
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@200;500;700&display=swap');
/*-----VARIABLES-----*/
:root {
    --blanco:#FFFFFF;
    --main-color:#142C64;
    --inputs:#C4CAD8;
    --fuente-principal: 'Mulish';
    --fuente-secundaria:'Arial';
}

/*-----BASE-----*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/*-----CSS-BASE-----*/
html{
    font-size: 62.5%;
    font-family:var(--fuente-principal);
}