.container-general-login{
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
}
.container-slider-login{
    width: 60%;
    height: 100%;
}
.img-slider-login{
    width: 100%;
    height: -webkit-fill-available;
}
.container-slider-login span{
    color: var(--blanco);
    z-index: 2;
    position: absolute;
    left:16%;
    top: 90%;
    font-weight: 700;
    font-size: 25px;
}
.container-info-login{
    width: 40%;
    background-color: var(--blanco);
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 15px 0px;
}
.container-logo-login{
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
}
.img-logo-login{
    width: 150px;
    height: 65px;
    margin-right: 25px;
}
.container-title-login{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin: 25px 0 90px 0; 
}
.container-title-login span{
    color: var(--main-color);
    font-size: 36px;
    font-weight: 700;
    font-family:var(--fuente-secundaria);
}
.container-form-login{
    display: flex;
    justify-content: center;
    width: 100%;
}
.form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
}
.label-login{
    color: var(--main-color);
    font-size: 25px;
    font-weight: 700;
    align-self: flex-start;
}
.container-label-contraseña span{
    color: var(--main-color);
    font-size: 16px;
}
.input-login{
    background-color: var(--inputs);
    height: 40px;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 15px;
    margin-bottom: 25px;
    font-size: 23px;
}
.container-label-contraseña{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}
.button-login{
    color: var(--blanco);
    font-size: 25px;
    background-color: var(--main-color);
    width: 100%;
    height: 40px;
    border: none;
    border-radius: 5px;
}
.container-contactanos-login{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
}
.container-contactanos-login p{
    font-size: 16px;
}
.container-contactanos-login span{
    font-weight: bold;
    color: var(--main-color);
}